#topSeting{position:relative;padding:20px;width:588px;height:440px;background: #fff;border:1px solid #ecf1f5;}
#topSeting h2.title{font-size: 26px;font-weight:normal;color:#727272;}
#topSeting h2.title span.smalTitle{font-size: 13px;}
.fl{float: left;}
.fr{float: right;}
#topSeting ul.topDataColor{margin:0 auto;width:140px;}
#topSeting ul.topDataColor li{position:relative;float: left;font-size: 13px;width:70px;text-indent:18px;}
#topSeting ul.topDataColor li span{position: absolute;top:2px;left:2px; display: block;width:10px;height:10px;}
#topSeting ul.topDataColor li span.green{ background: #86bc70;}
#topSeting ul.topDataColor li span.gren{ background: #e5e5e5;}