#ypUserSeting{position:relative;padding:20px;margin-top:20px; margin-left:20px;width:264px;height:320px;background: #fff;border:1px solid #ecf1f5;}
#ypUserSeting h2.title{font-size: 26px;font-weight:normal;color:#727272;}
#ypUserSeting h2.title span.smalTitle{font-size: 13px;}
.fl{float: left;}
.fr{float: right;}