#bomListShow{width:1278px;margin: 0 auto;border:1px solid #ecf1f5;}
#bomListShow ul.tabMenu{width:1278px;height:50px;background:#eaeef2;}
#bomListShow ul.tabMenu li{ float:left;width:235px;height:46px;line-height: 46px;text-align: center;}
#bomListShow ul.tabMenu li.active{ background: #fff;border-bottom:4px solid #92de41;}
/*B/O/M域数据资产分布*/
#bomListShow .tabCont{position:relative;padding:20px;width:1238px;height:450px;background: #fff;}
#bomListShow .tabCont ul.jsSelect{margin-top:5px;position:relative;z-index:9999;margin-left: 20px;}
#bomListShow .tabCont ul.jsSelect li{float: left;padding-right:30px;background: url("images/unckeck.png") 0 1px no-repeat;text-indent: 25px;line-height: 20px; font-size: 13px;}
.clear{clear:both;line-height:1px;height:1px;}
.none{display:none;}
#bomListShow .tabCont ul.jsSelect li:hover{cursor:pointer;}
#bomListShow .tabCont ul.jsSelect li.select{background: url("images/check.png") 0 1px no-repeat;}
#bomListShow #bomListShowCanvas{position:absolute;top:30px;left:-45px;}
#bomListShow .bomtable{position: absolute;top:50px;right:55px;width:410px;margin-top:65px;}
#bomListShow .bomtable ul{clear:both;}
#bomListShow .bomtable ul.tableListHead{height:30px;line-height:30px;background:#eee;}
#bomListShow .bomtable ul li{font-size:13px;float:left;width:80px;text-align: center;}
#bomListShow .bomtable ul.tableList{border-bottom:1px solid #e2e2e2;clear:both;height:80px;line-height:80px;}
#bomListShow .bomtable ul.tableList li.oColor span{display:block;width:15px;height:15px; background:#00b7ee; margin:32px 0 0 30px;}
#bomListShow .bomtable ul.tableList li.bColor span{display:block;width:15px;height:15px; background:#f8b551; margin:32px 0 0 30px;}
#bomListShow .bomtable ul.tableList li.mColor span{display:block;width:15px;height:15px; background:#80c269; margin:32px 0 0 30px;}
#bomListShow .bomtable ul.tableList li#tableoSvg{position: relative;}
#bomListShow .bomtable ul.tableList li#tablebSvg{position: relative;}
#bomListShow .bomtable ul.tableList li#tablemSvg{position: relative;}
#bomListShow .bomtable ul.tableList svg{position:absolute;top:0;left:0;}
/*主题域数据资产分布*/
#bomListShow .tapialCont{position:relative;padding:20px;width:1238px;min-height:450px;background: #fff;}
#bomListShow .tapialCont p.linkFlow{font-size: 13px;padding-left: 10px;color:#666;}
#bomListShow .tapialCont .pathCont{width:750px;min-height:450px;padding:50px 0 0 10px;}
#bomListShow .tapialCont .pathCont svg{float: left; margin:20px 10px;cursor:pointer;font-size:12px;}
.tooltip{
    position: absolute;
    line-height:20px;
    color:#fff;
    padding:7px 10px;
    font-size:13px;
    text-align: center;
    background-color:#333;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
    -o-border-radius:5px;
    display: none;
}
#bomListShow .bomtablet{position: absolute;top:50px;right:55px;width:410px;margin-top:15px;}
#bomListShow .bomtablet ul{clear:both;}
#bomListShow .bomtablet ul.tableListHead{height:30px;line-height:30px;background:#eee;}
#bomListShow .bomtablet ul li{font-size:13px;float:left;width:80px;text-align: center;}
#bomListShow .bomtablet ul.rightTableList li.sameColor span{display:block;width:15px;height:15px; margin:18px 0 0 30px;border-radius: 100px;-moz-border-radius: 100px;-webkit-border-radius: 100px;-o-border-radius:100px;}
#bomListShow .bomtablet ul.rightTableList{border-bottom:1px solid #e2e2e2;clear:both;height:50px;line-height:50px;}
#bomListShow .bomtablet ul.rightTableList li.listColor span{display:block;width:15px;height:15px; background:#00b7ee; margin:0px 0 0 30px;}
#bomListShow .bomtablet ul.rightTableList svg{position:absolute;top:0;left:0;}
/*详细分布图*/
#barListShow ul#barListShowCont{margin:20px 0;padding:15px;width:1208px;height:450px;background: #fff;}
#barListShow ul#barListShowCont li{float: left; background: #fff;border-radius:200px;
    -moz-border-radius:200px;
    -webkit-border-radius: 200px;
    -o-border-radius:200px;
margin-top:15px;
    margin-bottom:15px;
    border:1px solid #6fbbf8;position:relative;
    cursor:pointer;
}
#barListShow ul#barListShowCont li span{position:absolute;top:10px;left:10px;display: block;width:90px;height:90px;border-radius:200px;
    -moz-border-radius:200px;
    -webkit-border-radius: 200px;
    -o-border-radius:200px;
    background:#2196f3;
    line-height: 90px;
    line-height: 90px;
    text-align: center;
    color:#fff;
    font-size: 13px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#barListShow ul#barListShowCont li span:hover{background: #2469a2;}
#barListShow ul#barListShowCont li i{position:absolute;top:2px;right:21px;display: block;width:12px;height:12px;background-color: #59aef1;
    border-radius:200px;
    -moz-border-radius:200px;
    -webkit-border-radius: 200px;
    -o-border-radius:200px;
}
.jueduijz{position:absolute !important;margin-left: -150px!important;z-index:999;}
#barSameShow,#barListShow{position:relative;}
input.serchText{position:absolute;top:0;right:15px;width:230px;height:28px;padding:0 7px;line-height:28px;border:1px solid #cccccc;
border-radius:30px;}
a.serchBtn{ display: block;width:30px;height:28px;position:absolute;top:6px;right:13px;background:url("images/serchbtn.png") 0 0 no-repeat;}
#barListShow .fanPage{position:absolute;width:50px;height:70px; background:#333;position:absolute;top:230px;cursor:pointer;filter:alpha(opacity=30);/*支持IE浏览器*/-moz-opacity:0.30;/*支持FireFox浏览器*/opacity:0.30;/*支持*/}
#barListShow .fanPage:hover{filter:alpha(opacity=70);/*支持IE浏览器*/-moz-opacity:0.70;/*支持FireFox浏览器*/opacity:0.70;/*支持*/}
#barListShow #btnPrev{left:-20px; background: url("images/leftbtn.png") no-repeat -26px -13px;}
#barListShow #btnNext{right:-20px;background: url("images/rightbtn.png") no-repeat -26px -13px;}
i.listIco{background-image: url("images/listIco.png"); background-position: center center; background-repeat: no-repeat;}
#barListShowOne{position:absolute;top:110px;left:215px;background:#fff;border:1px solid #ccc;width:500px;height:280px;z-index:9999;display: none;}
#barListShowOne h3{font-weight: normal;text-align: center;height:30px;line-height: 30px;margin:3px 0;}
#barListShowOne h4{ background: #f6f6f6;height:25px;line-height: 25px;font-size: 13px;font-weight:normal;position:relative;text-indent:18px;}
#barListShowOne h4 p{ display: block;width:3px;height:13px; background: #8acc2e;top:7px;left:10px;position:absolute;}
#barListShowOne div.ownListOne{width:470px;padding:15px;}
#barListShowOne div.ownListOne div{height:30px;margin:2px 0;font-size: 13px;position: relative;}
#barListShowOne div.ownListOne p{position: absolute;}
#barListShowOne div.ownListOne p.ownL{width:100px;text-align: right;left:0;top:0;color:#999;}
#barListShowOne div.ownListOne p.ownR{width:355px;text-align: left;left:105px;top:-5px;border:1px solid #cfcfcf;height:25px;line-height:25px;padding:0 5px;color:#666;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;-o-border-radius:4px;}
.pageNumshow{margin:10px auto;text-align: center;color:#999;}
.pageNumshow span.pageNumTotal{color:#333;}